//- html 
//-     head 
//-         //- title Home 
//-         title #{pageTitle}
//-     body 
//-         h1 Welcome 
//-         div to  
//-             div Home Page 


//- extending another pug template file
extends layouts/main-layouts.pug
block content 
    //- h1 Welcome 
    //- div to 
    //-     div Home Page 
    //- p #{userLoggedIn.firstName}
    +createPostForm(userLoggedIn)
    .postContainer
    //- button.likebutton Click

block scripts 
    script(src="/js/home.js") 
    